# Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import euclidean_distances

# Tidying Up Datasets

## Load Datasets

In [2]:
# Load Tour Guide Datasets
guide_df = pd.read_csv('data/tour-guide-data.csv')
guide_df

,Name,Gender,Domicile,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
0,Nabhan Nabilah,1,0,1,0,0,0,0,0,0,...,5,2,5,5,5,2,2,5,5,2
1,Salsabilla,1,0,1,0,0,0,0,0,1,...,4,3,3,4,4,2,2,2,4,2
2,Maulani,1,0,1,0,0,0,0,1,0,...,4,4,3,4,4,3,3,2,3,3
3,Abiyyu Farhan,0,0,1,0,0,0,0,0,1,...,4,5,3,5,4,4,4,4,4,4
4,Rahmaliyah Kadir,1,1,1,0,0,0,0,0,0,...,4,3,3,4,3,3,3,3,4,3
5,Faizah,1,1,1,0,0,0,0,0,0,...,4,2,5,5,5,3,4,5,5,4
6,Andani,1,1,0,1,0,0,0,0,1,...,4,4,4,3,3,4,3,3,3,3
7,Muthiah Hanun,1,1,0,1,0,0,0,0,0,...,5,5,5,5,5,5,4,3,5,4
8,Ihlasul Mufti Faqih,0,1,1,0,0,0,0,0,1,...,5,4,5,4,3,2,1,3,4,2
9,Dessylva Maharany Santosa,1,0,1,0,0,0,0,1,0,...,3,3,3,4,3,2,3,2,4,3
10,Elma N,1,0,1,0,0,0,0,0,1,...,3,3,4,3,3,2,2,2,3,2
11,Hani,1,1,1,0,0,0,0,0,0,...,4,4,4,5,5,4,3,3,3,2
12,Jasmine Khaira,1,0,1,0,0,0,0,1,1,...,5,3,3,3,2,3,2,3,2,2
13,fadilah,1,1,1,0,0,0,0,0,1,...,4,3,3,3,2,2,1,1,2,1
14,Winda,1,0,1,0,0,0,0,1,0,...,4,3,3,4,4,4,2,1,4,5
15,Syifa Choerunnisa,1,0,1,0,0,0,0,1,0,...,3,5,5,5,5,5,3,3,5,3
16,Pebi,1,0,1,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
17,Nur Aliya,1,0,1,0,0,0,0,0,0,...,4,4,4,5,5,3,4,4,4,4
18,zahra kamila,1,0,1,0,0,0,0,1,0,...,4,3,3,4,3,3,3,3,3,3
19,Hafidz,0,0,1,0,0,0,0,1,1,...,2,1,1,1,2,2,2,3,1,1
20,Dwi,1,0,1,0,0,0,0,0,0,...,4,3,3,4,4,3,3,2,3,2
21,E,1,0,1,0,0,0,0,1,1,...,5,5,5,5,5,5,5,5,5,5
22,debbie,1,0,0,1,0,0,0,0,0,...,5,5,2,5,5,4,5,5,5,5
23,Dera,1,0,1,0,0,0,0,0,0,...,5,4,5,5,5,4,5,5,5,5
24,Salsabilla Rizki,1,0,1,0,0,0,0,0,1,...,3,5,5,5,5,5,5,2,3,4
25,Salma,1,0,1,0,0,0,0,1,1,...,5,5,5,5,5,5,5,4,5,4
26,Deva,1,0,0,1,0,0,0,0,1,...,4,4,4,3,4,3,4,2,4,3
27,Dzaky,0,0,1,0,0,0,0,0,1,...,5,5,5,5,5,5,5,5,4,5

In [3]:
# Add roles column as a guide
guide_df['Roles'] = 'guide'
guide_df

,Name,Gender,Domicile,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,...,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5,Roles
0,Nabhan Nabilah,1,0,1,0,0,0,0,0,0,...,2,5,5,5,2,2,5,5,2,guide
1,Salsabilla,1,0,1,0,0,0,0,0,1,...,3,3,4,4,2,2,2,4,2,guide
2,Maulani,1,0,1,0,0,0,0,1,0,...,4,3,4,4,3,3,2,3,3,guide
3,Abiyyu Farhan,0,0,1,0,0,0,0,0,1,...,5,3,5,4,4,4,4,4,4,guide
4,Rahmaliyah Kadir,1,1,1,0,0,0,0,0,0,...,3,3,4,3,3,3,3,4,3,guide
5,Faizah,1,1,1,0,0,0,0,0,0,...,2,5,5,5,3,4,5,5,4,guide
6,Andani,1,1,0,1,0,0,0,0,1,...,4,4,3,3,4,3,3,3,3,guide
7,Muthiah Hanun,1,1,0,1,0,0,0,0,0,...,5,5,5,5,5,4,3,5,4,guide
8,Ihlasul Mufti Faqih,0,1,1,0,0,0,0,0,1,...,4,5,4,3,2,1,3,4,2,guide
9,Dessylva Maharany Santosa,1,0,1,0,0,0,0,1,0,...,3,3,4,3,2,3,2,4,3,guide
10,Elma N,1,0,1,0,0,0,0,0,1,...,3,4,3,3,2,2,2,3,2,guide
11,Hani,1,1,1,0,0,0,0,0,0,...,4,4,5,5,4,3,3,3,2,guide
12,Jasmine Khaira,1,0,1,0,0,0,0,1,1,...,3,3,3,2,3,2,3,2,2,guide
13,fadilah,1,1,1,0,0,0,0,0,1,...,3,3,3,2,2,1,1,2,1,guide
14,Winda,1,0,1,0,0,0,0,1,0,...,3,3,4,4,4,2,1,4,5,guide
15,Syifa Choerunnisa,1,0,1,0,0,0,0,1,0,...,5,5,5,5,5,3,3,5,3,guide
16,Pebi,1,0,1,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,guide
17,Nur Aliya,1,0,1,0,0,0,0,0,0,...,4,4,5,5,3,4,4,4,4,guide
18,zahra kamila,1,0,1,0,0,0,0,1,0,...,3,3,4,3,3,3,3,3,3,guide
19,Hafidz,0,0,1,0,0,0,0,1,1,...,1,1,1,2,2,2,3,1,1,guide
20,Dwi,1,0,1,0,0,0,0,0,0,...,3,3,4,4,3,3,2,3,2,guide
21,E,1,0,1,0,0,0,0,1,1,...,5,5,5,5,5,5,5,5,5,guide
22,debbie,1,0,0,1,0,0,0,0,0,...,5,2,5,5,4,5,5,5,5,guide
23,Dera,1,0,1,0,0,0,0,0,0,...,4,5,5,5,4,5,5,5,5,guide
24,Salsabilla Rizki,1,0,1,0,0,0,0,0,1,...,5,5,5,5,5,5,2,3,4,guide
25,Salma,1,0,1,0,0,0,0,1,1,...,5,5,5,5,5,5,4,5,4,guide
26,Deva,1,0,0,1,0,0,0,0,1,...,4,4,3,4,3,4,2,4,3,guide
27,Dzaky,0,0,1,0,0,0,0,0,1,...,5,5,5,5,5,5,5,4,5,guide

In [4]:
# Load Tourist Datasets
tourist_df = pd.read_csv('data/tourist-data.csv')
tourist_df

,Names,Genders,Destinations,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
0,Novia Rizki Wulandari,1,0,1,0,0,0,0,0,1,...,5,4,4,5,5,4,4,2,4,4
1,Herlina Kusyanuri Putri,1,0,1,0,0,0,0,1,0,...,5,5,5,5,5,4,3,3,4,3
2,Rifdah Alyaa,1,0,1,0,0,0,0,0,0,...,2,3,2,3,4,3,2,3,4,3
3,Alexis Purnomo,0,0,0,0,0,0,0,0,1,...,3,5,3,4,5,4,4,1,4,4
4,Rifky Surya Pratama,0,0,1,0,0,0,0,0,1,...,4,3,3,4,4,2,3,3,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Féi,1,1,1,0,0,0,0,0,0,...,4,2,4,4,4,3,4,2,4,4
69,Annisa,1,1,1,0,0,0,0,0,0,...,4,2,3,3,3,3,3,2,4,3
70,Usamah,0,1,1,0,0,0,0,0,1,...,5,5,4,5,5,4,4,5,5,5
71,Helena,1,0,0,0,0,0,0,1,0,...,4,3,4,4,4,3,4,2,5,4
72,Biru,1,0,1,0,0,0,0,0,0,...,4,3,3,4,2,4,3,3,3,3

In [5]:
# Add roles columns as a tourist
tourist_df['Roles'] = 'tourist'
tourist_df

,Names,Genders,Destinations,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,...,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5,Roles
0,Novia Rizki Wulandari,1,0,1,0,0,0,0,0,1,...,4,4,5,5,4,4,2,4,4,tourist
1,Herlina Kusyanuri Putri,1,0,1,0,0,0,0,1,0,...,5,5,5,5,4,3,3,4,3,tourist
2,Rifdah Alyaa,1,0,1,0,0,0,0,0,0,...,3,2,3,4,3,2,3,4,3,tourist
3,Alexis Purnomo,0,0,0,0,0,0,0,0,1,...,5,3,4,5,4,4,1,4,4,tourist
4,Rifky Surya Pratama,0,0,1,0,0,0,0,0,1,...,3,3,4,4,2,3,3,2,3,tourist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Féi,1,1,1,0,0,0,0,0,0,...,2,4,4,4,3,4,2,4,4,tourist
69,Annisa,1,1,1,0,0,0,0,0,0,...,2,3,3,3,3,3,2,4,3,tourist
70,Usamah,0,1,1,0,0,0,0,0,1,...,5,4,5,5,4,4,5,5,5,tourist
71,Helena,1,0,0,0,0,0,0,1,0,...,3,4,4,4,3,4,2,5,4,tourist
72,Biru,1,0,1,0,0,0,0,0,0,...,3,3,4,2,4,3,3,3,3,tourist

## Combine Datasets into Users Datasets

In [6]:
# Check if column names are the same
columns_equal = guide_df.columns.equals(tourist_df.columns)

if columns_equal:
    print("The DataFrames have the same column names.")
else:
    print("The DataFrames do not have the same column names.")

The DataFrames do not have the same column names.

In [7]:
# Get column names from guide_df and tourist_df
guide_columns = set(guide_df.columns)
tourist_columns = set(tourist_df.columns)

# Find the different columns
diff_col_in_guide = guide_columns - tourist_columns
diff_col_in_tourist = tourist_columns - guide_columns

# Print the different columns
print("Different columns in guide_df:", diff_col_in_guide)
print("Different columns in tourist_df:", diff_col_in_tourist)

Different columns in guide_df: {'Name', 'Domicile', 'Gender'}
Different columns in tourist_df: {'Destinations', 'Genders', 'Names'}

In [8]:
# Rename the diff column
guide_df = guide_df.rename(columns={'Name': 'Names'})
guide_df = guide_df.rename(columns={'Gender': 'Genders'})
guide_df = guide_df.rename(columns={'Domicile': 'Destinations'})

In [9]:
# Check if column names are the same
columns_equal = guide_df.columns.equals(tourist_df.columns)

if columns_equal:
    print("The DataFrames have the same column names.")
else:
    print("The DataFrames do not have the same column names.")

The DataFrames have the same column names.

In [10]:
user_df = pd.concat([tourist_df, guide_df])
user_df = user_df.reset_index(drop=True)
user_df

,Names,Genders,Destinations,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,...,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5,Roles
0,Novia Rizki Wulandari,1,0,1,0,0,0,0,0,1,...,4,4,5,5,4,4,2,4,4,tourist
1,Herlina Kusyanuri Putri,1,0,1,0,0,0,0,1,0,...,5,5,5,5,4,3,3,4,3,tourist
2,Rifdah Alyaa,1,0,1,0,0,0,0,0,0,...,3,2,3,4,3,2,3,4,3,tourist
3,Alexis Purnomo,0,0,0,0,0,0,0,0,1,...,5,3,4,5,4,4,1,4,4,tourist
4,Rifky Surya Pratama,0,0,1,0,0,0,0,0,1,...,3,3,4,4,2,3,3,2,3,tourist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Dera,1,0,1,0,0,0,0,0,0,...,4,5,5,5,4,5,5,5,5,guide
97,Salsabilla Rizki,1,0,1,0,0,0,0,0,1,...,5,5,5,5,5,5,2,3,4,guide
98,Salma,1,0,1,0,0,0,0,1,1,...,5,5,5,5,5,5,4,5,4,guide
99,Deva,1,0,0,1,0,0,0,0,1,...,4,4,3,4,3,4,2,4,3,guide
100,Dzaky,0,0,1,0,0,0,0,0,1,...,5,5,5,5,5,5,5,4,5,guide

## Check Summary New Datasets

In [11]:
# Looking at the index of the columns
columns = user_df.columns
for idx, column in enumerate(columns):
    print(f"Column index: {idx}, Column name: {column}")

Column index: 0, Column name: Names
Column index: 1, Column name: Genders
Column index: 2, Column name: Destinations
Column index: 3, Column name: 17-25
Column index: 4, Column name: 26-34
Column index: 5, Column name: 35-43
Column index: 6, Column name: 44-52
Column index: 7, Column name: 52+
Column index: 8, Column name: Historical tours
Column index: 9, Column name: Adventure tours
Column index: 10, Column name: Nature and wildlife tours
Column index: 11, Column name: Culinary tours
Column index: 12, Column name: Wellness and retreat tours
Column index: 13, Column name: Architectural tours
Column index: 14, Column name: Educational tours
Column index: 15, Column name: Shopping tours
Column index: 16, Column name: EXT1
Column index: 17, Column name: EXT2
Column index: 18, Column name: EXT3
Column index: 19, Column name: EXT4
Column index: 20, Column name: EXT5
Column index: 21, Column name: EST1
Column index: 22, Column name: EST2
Column index: 23, Column name: EST3
Column index: 24, Column name: EST4
Column index: 25, Column name: EST5
Column index: 26, Column name: AGR1
Column index: 27, Column name: AGR2
Column index: 28, Column name: AGR3
Column index: 29, Column name: AGR4
Column index: 30, Column name: AGR5
Column index: 31, Column name: CSN1
Column index: 32, Column name: CSN2
Column index: 33, Column name: CSN3
Column index: 34, Column name: CSN4
Column index: 35, Column name: CSN5
Column index: 36, Column name: OPN1
Column index: 37, Column name: OPN2
Column index: 38, Column name: OPN3
Column index: 39, Column name: OPN4
Column index: 40, Column name: OPN5
Column index: 41, Column name: Roles

In [12]:
user_df.describe()

,Genders,Destinations,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,Nature and wildlife tours,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
count,101.000000,101.000000,101.000000,101.000000,101.0,101.0,101.0,101.000000,101.000000,101.000000,...,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.702970,0.415842,0.702970,0.049505,0.0,0.0,0.0,0.386139,0.475248,0.653465,...,3.683168,3.396040,3.613861,3.811881,3.841584,3.297030,3.435644,2.910891,3.841584,3.445545
std,0.459229,0.495325,0.459229,0.218002,0.0,0.0,0.0,0.489291,0.501878,0.478239,...,1.009264,1.010734,1.009656,1.046068,0.945861,0.964827,0.973816,1.040183,0.977064,0.994739
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000
50%,1.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.000000,...,4.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000,...,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,3.000000,5.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [13]:
# Check that we not missing any value after combine columns
print('Is there any missing value? ', user_df.isnull().values.any())
print('How many missing values? ', user_df.isnull().values.sum())

Is there any missing value?  False
How many missing values?  0

# Make Matchmaking Model

In [14]:
# Copy origin user data into match data to use in cluster
match_df = user_df.copy()

In [15]:
# Drop Column that not use for clustering match
match_df.drop(['Names', 'Destinations', 'Roles'], axis=1, inplace=True)
match_df

,Genders,17-25,26-34,35-43,44-52,52+,Historical tours,Adventure tours,Nature and wildlife tours,Culinary tours,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
0,1,1,0,0,0,0,0,1,1,0,...,5,4,4,5,5,4,4,2,4,4
1,1,1,0,0,0,0,1,0,0,1,...,5,5,5,5,5,4,3,3,4,3
2,1,1,0,0,0,0,0,0,1,1,...,2,3,2,3,4,3,2,3,4,3
3,0,0,0,0,0,0,0,1,1,0,...,3,5,3,4,5,4,4,1,4,4
4,0,1,0,0,0,0,0,1,1,1,...,4,3,3,4,4,2,3,3,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,1,0,0,0,0,0,0,1,1,...,5,4,5,5,5,4,5,5,5,5
97,1,1,0,0,0,0,0,1,1,1,...,3,5,5,5,5,5,5,2,3,4
98,1,1,0,0,0,0,1,1,0,1,...,5,5,5,5,5,5,5,4,5,4
99,1,0,1,0,0,0,0,1,1,1,...,4,4,4,3,4,3,4,2,4,3
100,0,1,0,0,0,0,0,1,0,0,...,5,5,5,5,5,5,5,5,4,5

## Test Match Mulai Dari sini

### Reduce Dimension from Data

In [16]:
match_array = match_df.values
match_array

array([[1, 1, 0, ..., 2, 4, 4],
       [1, 1, 0, ..., 3, 4, 3],
       [1, 1, 0, ..., 3, 4, 3],
       ...,
       [1, 1, 0, ..., 4, 5, 4],
       [1, 0, 1, ..., 2, 4, 3],
       [0, 1, 0, ..., 5, 4, 5]], dtype=int64)

In [17]:
import tensorflow as tf
import numpy as np

class PCAModel(tf.Module):
    def __init__(self, X_mean, components):
        super(PCAModel, self).__init__()
        self.X_mean = tf.Variable(X_mean, trainable=False)
        self.components = tf.Variable(components, trainable=False)

    @tf.function(input_signature=[tf.TensorSpec(shape=(None, 39), dtype=tf.float32)])
    def scale_features(self, X):
        X_min = tf.reduce_min(X, axis=0)
        X_max = tf.reduce_max(X, axis=0)

        # Handle columns with zero variance
        zero_variance_mask = tf.math.equal(X_min, X_max)
        non_zero_variance_mask = tf.math.logical_not(zero_variance_mask)

        # Scale the columns with non-zero variance
        X_scaled_non_zero = tf.where(non_zero_variance_mask, (X - X_min) / (X_max - X_min), X)

        # Scale the columns with zero variance
        X_scaled_zero = tf.where(zero_variance_mask, tf.zeros_like(X), X_scaled_non_zero)

        return X_scaled_zero

    @tf.function(input_signature=[tf.TensorSpec(shape=(None, 39), dtype=tf.float32)])
    def apply_pca(self, X):
        X_scaled = self.scale_features(X)
        X_centered = X_scaled - self.X_mean
        
        # Compute the covariance matrix
        covariance_matrix = tf.matmul(tf.transpose(X_centered), X_centered) / tf.cast(tf.shape(X_centered)[0], dtype=tf.float32)

        # Perform eigenvalue decomposition
        eigenvalues, eigenvectors = tf.linalg.eigh(covariance_matrix)
        
        # Sort eigenvectors based on eigenvalues
        sorted_indices = tf.argsort(eigenvalues, direction='DESCENDING')
        sorted_eigenvectors = tf.gather(eigenvectors, sorted_indices, axis=1)
        
        # Select the top k eigenvectors
        k = tf.minimum(tf.shape(sorted_eigenvectors)[1], 2)  # Choose the top 2 eigenvectors (modify as needed)
        selected_eigenvectors = sorted_eigenvectors[:, :k]
        
        # Project the centered data onto the selected eigenvectors
        X_pca = tf.matmul(X_centered, selected_eigenvectors)
        
        return X_pca

# Convert the numpy array to a TensorFlow tensor
X_tf = tf.convert_to_tensor(match_array, dtype=tf.float32)

# Perform PCA with k=2 (reduce to 2 dimensions)
X_mean = tf.reduce_mean(X_tf, axis=0)
_, _, V = tf.linalg.svd(X_tf - X_mean)
components = V[:, :2]

# Create an instance of the PCA model
pca_model = PCAModel(X_mean, components)

In [18]:
# Save the PCA model
tf.saved_model.save(
    pca_model, 
    export_dir="pca_model"
)

INFO:tensorflow:Assets written to: pca_model\assets

In [19]:
export_dir = "pca_model"

In [20]:
!saved_model_cli show --dir {export_dir} --all

MetaGraphDef with tag-set: 'serve' contains the following SignatureDefs:

signature_def['__saved_model_init_op']:
  The given SavedModel SignatureDef contains the following input(s):
  The given SavedModel SignatureDef contains the following output(s):
    outputs['__saved_model_init_op'] tensor_info:
        dtype: DT_INVALID
        shape: unknown_rank
        name: NoOp
  Method name is:
The MetaGraph with tag set ['serve'] contains the following ops: {'Const', 'StatefulPartitionedCall', 'SaveV2', 'VarHandleOp', 'StringJoin', 'AssignVariableOp', 'MergeV2Checkpoints', 'ShardedFilename', 'DisableCopyOnRead', 'Pack', 'Select', 'Placeholder', 'RestoreV2', 'NoOp', 'StaticRegexFullMatch', 'Identity', 'ReadVariableOp'}

Concrete Functions:
  Function Name: 'apply_pca'
    Option #1
      Callable with:
        Argument #1
          x: TensorSpec(shape=(None, 39), dtype=tf.float32, name='x')

  Function Name: 'scale_features'
    Option #1
      Callable with:
        Argument #1
          x: TensorSpec(shape=(None, 39), dtype=tf.float32, name='x')

# Test Load Model

In [21]:
# Load the PCA model
loaded_model = tf.saved_model.load("pca_model")

In [22]:
# Generate a new data point
new_data = np.random.rand(1, 39)
new_data_tf = tf.convert_to_tensor(new_data, dtype=tf.float32)

# Predict the PCA value using the loaded model
pca_value = loaded_model.apply_pca(new_data_tf)

# Print the PCA value
print(pca_value)

tf.Tensor([[-1.7374805e+01  1.2516975e-06]], shape=(1, 2), dtype=float32)

In [23]:
new_data_tf = tf.convert_to_tensor(match_array, dtype=tf.float32)

# Predict the PCA value using the loaded model
pca_value = loaded_model.apply_pca(new_data_tf)

# Print the PCA value
print(pca_value)

tf.Tensor(
[[-1.39435177e+01 -1.13729107e+00]
 [-1.41652784e+01  1.01445985e+00]
 [-1.51570883e+01  5.69236279e-02]
 [-1.46208401e+01 -8.59446704e-01]
 [-1.42955132e+01 -8.36073041e-01]
 [-1.48253555e+01 -4.94044393e-01]
 [-1.50506010e+01  5.42503357e-01]
 [-1.37639437e+01 -2.29793847e-01]
 [-1.47880182e+01  9.48886096e-01]
 [-1.40906868e+01  1.73667073e-01]
 [-1.43346109e+01 -5.27827919e-01]
 [-1.50020657e+01  2.07497805e-01]
 [-1.44163923e+01  1.14883280e+00]
 [-1.46117907e+01  8.73391271e-01]
 [-1.43097095e+01 -7.88455978e-02]
 [-1.49813547e+01  8.33932936e-01]
 [-1.44167404e+01 -5.97456455e-01]
 [-1.36004696e+01 -2.67951190e-01]
 [-1.49429188e+01  3.36247325e-01]
 [-1.49113760e+01  3.55678797e-03]
 [-1.41223888e+01  1.00653195e+00]
 [-1.41567087e+01  5.75327277e-01]
 [-1.45268192e+01  1.24904191e+00]
 [-1.32804585e+01 -5.28074622e-01]
 [-1.42276001e+01 -2.18883693e-01]
 [-1.44214563e+01  1.21885252e+00]
 [-1.45696487e+01 -3.82494837e-01]
 [-1.48917923e+01  3.79118979e-01]
 [-1.40044069e+01  2.95143604e-01]
 [-1.44828138e+01  4.57246095e-01]
 [-1.54128933e+01 -1.76062465e-01]
 [-1.30747108e+01 -4.65397537e-01]
 [-1.37219849e+01  4.22450006e-01]
 [-1.37368641e+01 -3.18470061e-01]
 [-1.41946297e+01 -3.23598146e-01]
 [-1.44575377e+01  1.07935178e+00]
 [-1.46895924e+01  3.75422210e-01]
 [-1.42112579e+01 -3.96724761e-01]
 [-1.47370214e+01  1.16034389e-01]
 [-1.39489822e+01 -6.81246221e-01]
 [-1.34980049e+01 -5.71271852e-02]
 [-1.51376114e+01  1.07657683e+00]
 [-1.44762325e+01  6.03326783e-02]
 [-1.48680782e+01 -1.40931845e-01]
 [-1.58973522e+01 -6.38787150e-02]
 [-1.47333574e+01  7.93156624e-02]
 [-1.42411385e+01  1.31846333e+00]
 [-1.42265806e+01  5.14022171e-01]
 [-1.46445217e+01  9.06093955e-01]
 [-1.50614672e+01 -3.68813246e-01]
 [-1.50003290e+01  1.76083982e-01]
 [-1.45757036e+01 -7.11622536e-01]
 [-1.37545462e+01  3.39615345e-02]
 [-1.47091541e+01 -8.65501642e-01]
 [-1.47204437e+01 -8.81587267e-02]
 [-1.48999500e+01  6.82658076e-01]
 [-1.42767763e+01 -7.66318083e-01]
 [-1.37806034e+01 -3.23082179e-01]
 [-1.43598385e+01 -1.20414543e+00]
 [-1.45184946e+01 -8.40444326e-01]
 [-1.40783491e+01 -3.65176648e-01]
 [-1.45533791e+01  1.69368351e+00]
 [-1.42604418e+01  1.07671976e-01]
 [-1.39545536e+01 -1.10387933e+00]
 [-1.31745796e+01 -1.40077204e-01]
 [-1.26194954e+01 -4.64204133e-01]
 [-1.42503643e+01  4.14458930e-01]
 [-1.40495567e+01  1.94683880e-01]
 [-1.44626637e+01 -1.54242694e-01]
 [-1.45816946e+01 -2.15195298e-01]
 [-1.31891251e+01 -5.94544232e-01]
 [-1.36166840e+01  6.65641248e-01]
 [-1.42954416e+01  2.68879294e-01]
 [-1.45693941e+01  5.93014479e-01]
 [-1.43132906e+01 -5.79150558e-01]
 [-1.46238317e+01  2.66016811e-01]
 [-1.41054268e+01 -1.02919543e+00]
 [-1.43423529e+01  3.68730724e-01]
 [-1.39245796e+01  5.64927578e-01]
 [-1.48619375e+01 -9.50293064e-01]
 [-1.33082752e+01 -1.93315089e-01]
 [-1.48471155e+01 -6.26294255e-01]
 [-1.46732292e+01  1.03498077e+00]
 [-1.50559950e+01 -8.01247120e-01]
 [-1.44423723e+01 -4.87088114e-01]
 [-1.49271040e+01 -7.03632832e-05]
 [-1.53133669e+01 -2.03414857e-01]
 [-1.40518656e+01  4.95011598e-01]
 [-1.35171614e+01  1.81037158e-01]
 [-1.36213398e+01 -9.90883261e-03]
 [-1.38897667e+01 -3.48852649e-02]
 [-1.45736389e+01  7.44336247e-02]
 [-1.54576712e+01  3.50717843e-01]
 [-1.45178747e+01 -2.53323317e-01]
 [-1.23240128e+01 -3.73869181e-01]
 [-1.28203220e+01 -5.52287161e-01]
 [-1.29249611e+01 -5.96523225e-01]
 [-1.40254555e+01 -9.75544214e-01]
 [-1.36818409e+01  3.78808528e-01]
 [-1.42294083e+01 -9.81978893e-01]
 [-1.32264576e+01 -8.08692038e-01]], shape=(101, 2), dtype=float32)